@import '../../home/home.component.scss';
@import '../../blog/blog.component.scss';
.routerLinkUnderLine{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.centerHeader{
    text-align: center;
}
