<title>{{title}}</title>

<div class="spaceing-header">
  <h1 class="text-style underline-header">Coffee House's recipes</h1>
  <p class="text-style font-md">Here you can see some of our recipes</p>
</div>

  <a routerLink="/Recipes/1" routerLinkActive="active">Recipes1</a>
  <br>
  <a routerLink="/Recipes/2" routerLinkActive="active">Recipes2</a>
  <br>
  <a routerLink="/Recipes/3" routerLinkActive="active">Recipes3</a>
  <br>
  <a routerLink="/Recipes/4" routerLinkActive="active">Recipes4</a>
  <br>
  <a routerLink="/Recipes/5" routerLinkActive="active">Recipes5</a>


