@import '../../home/home.component.scss';
@import '../../blog/blog.component.scss';
.form-control{
    width: 15em;
    margin-left: 1em;
}
.routerLinkUnderLine{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.UnderLine{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
