<title>{{title}}</title>

<div class="spaceing-header">
  <h1 class="text-style underline-header">Coffee House's menu</h1>
  <p class="text-style font-md">Assortment for our customers</p>
</div>


<form>
  <input placeholder="Search for Coffee" id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
</form>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" *ngFor="let menu of MenuItems$ | async;">
        <div class="card spaceing-card w-100">
              <div class="card-body">
                  <ngx-skeleton-loader count="1" [theme]="{height: '4vh', width:'30vh', 'background-color':'#6D6E6F'}" *ngIf="!contentLoad"></ngx-skeleton-loader>
                  <h2 *ngIf="contentLoad" class="card-title text-style UnderLine"><ngb-highlight [result]="menu.ItemName" [term]="filter.value"></ngb-highlight></h2>

                  <ngx-skeleton-loader count="1" [theme]="{height: '20vh', width: '40vh', 'background-color':'#6D6E6F'}" *ngIf="!contentLoad"></ngx-skeleton-loader>
                  <img *ngIf="contentLoad" src="{{menu.Image}}" alt=""style="margin-bottom: 1em; margin-top: 1em;">

                  <ngx-skeleton-loader count="4" [theme]="{height: '2vh', 'background-color':'#6D6E6F'}" *ngIf="!contentLoad"></ngx-skeleton-loader>
                  <p *ngIf="contentLoad" class="card-text">{{menu.Description}}</p>

                  <router-link class="cursor-pointer routerLinkUnderLine" *ngIf="contentLoad" routerLink="{{menu.Id}}">More information here</router-link>
              </div>
          </div>
      </div>
  </div>
</div>
