<title>{{title}}</title>

<div class="spaceing-header">
  <h1 class="text-style underline-header">Coffee House</h1>
  <p class="text-style font-md">Our profession your decision</p>
</div>

<div class="d-flex justify-content-center spaceing-carousel">
  <ngb-carousel style="height: 26em; width: 42em;" #carousel [interval]="6000" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="image {{i + 1}}" style="height:  26em; width: 42em;">
        </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="d-flex justify-content-center underline-title">
        <h2 class="text-style cursor-pointer" routerLink="/Blog">Blog</h2>
      </div>
      <div class="col-12 d-flex justify-content-center" *ngFor="let blog of cardForBlog;">
        <div class="card spaceing-card w-75">
          <div class="card-body">
            <h3 class="card-title text-center">{{blog.title}}</h3>
            <p class="card-text">{{blog.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="d-flex justify-content-center underline-title">
        <h2 class="text-style cursor-pointer" routerLink="/Shop">Shop</h2>
      </div>
      <div class="col-12 d-flex justify-content-center" *ngFor="let Shop of cardForShop;">
        <div class="card spaceing-card w-75" routerLink="/Shop/{{Shop.id}}">
          <div class="card-body">
            <h3 class="card-title text-center">{{Shop.title}}</h3>
            <p class="card-text">{{Shop.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="d-flex justify-content-center underline-title">
        <h2 class="text-style cursor-pointer" routerLink="/Recipes">Recipes</h2>
      </div>
        <div class="col-12 d-flex justify-content-center" *ngFor="let Recipes of cardForRecipes;">
          <div class="card spaceing-card w-75" routerLink="/Recipes/{{Recipes.id}}">
            <div class="card-body">
              <h3 class="card-title text-center">{{Recipes.title}}</h3>
              <p class="card-text">{{Recipes.description}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

